html{
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}

#parent{
    border: solid red 10px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items:start;
    flex-wrap: wrap;
}

#parent div{
    border: solid blue 2px;
    padding: 20px;
}