html{
    box-sizing: border-box;
}

*,*::after,*::before{
    box-sizing: inherit;
}

#transition{
    border: solid rebeccapurple 10px;
    width: 500px;
    height: 500px;
    background-color: rebeccapurple;

}

#transition:hover{
    transition-delay: 5ms;
}